body {
	margin: 0;
	font-family: Gamja Flower, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
}

a {
	color: inherit;
}
p {
	margin-block-start: 0px;
	margin-block-end: 0px;
}
pre {
	margin: 0em 0px 1em;
	width: -webkit-fill-available;
}

pre.langtag::after {
	top: -50px !important;
	color: wheat !important;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1rem - 2px);
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

div {
	box-sizing: border-box;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 576px) {
	body {
		font-size: 11px !important;
	}
	.block-type {
		margin-left: 2rem !important;
		margin-right: 2rem !important;
	}
}
@media screen and (max-width: 768px) { }
@media screen and (max-width: 992px) {
	.left { display : none; }
}
@media screen and (max-width: 1200px) {
	body {
		font-size: 14px !important;
	}
}